@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

:root {
    --size: 1440px
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color:bisque ;  
  }
  
  .container {
    width: var(--size);
    margin: 2em auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4em;
  }
  
  .slider {
    width: 80%;
    overflow: hidden;
    border-radius: 1rem;
  }
  
  .middle {
    display: flex;
    flex-direction: column;
  }
  
  .slides {
    width: 500%;
    height: 35rem;
    display: flex;
  }

  .navigation-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  
  .navigation {
    display: flex;
    justify-self: flex-end;
  }

  .slide-title {
    width: 25%;
    font-size: 1.5rem;
    transition: all .6s ease;
  }

  .titles {
    width: 100%;
    height: 100%;
     overflow: hidden;   
  }

  .title-slider {
    width: 500%;
    height: 10rem;
    display: flex;
  }
  
  .bar {
    display: block;
    height: 2rem; 
    width: 2rem;
    border-radius: 50%;
    margin: .6rem;
    background-color:blue;
    opacity: 0.5;
    transition: all .4s ease;
    cursor: pointer;
  }
  
  .k1:hover > .bar {
    opacity: 0.8;
    transform: scale(1.1);
    background-color: aliceblue;
  }

  .k1:active > .bar {
    opacity: 0.8;
    transform: scale(1.1);
    background-color:darkcyan;
  }
  
  input[name="r"] {
    visibility: hidden;
    display: none;
  }
  
  .slide {
    width: 24%;
    transition: all .6s ease;
    border-radius: 2rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }

  .k1 {
    width: 20%;
    height: 20%;
    cursor: pointer;
  }
  
  #r1:checked ~ .slider .slides .s1 {
    margin-left: 0;
  }
  
  #r2:checked ~ .slider .slides .s1 {
    margin-left: -25%;
  }
  
  #r3:checked ~ .slider .slides .s1 {
    margin-left: -50%;
  }
  
  #r4:checked ~ .slider .slides .s1 {
    margin-left: -75%;
  }
  
  #r5:checked ~ .slider .slides .s1 {
    margin-left: -100%;
  }

  #r1:checked ~ .navigation-container .titles .title-slider .t1 {
    margin-left: 0;
  }

  #r2:checked ~ .navigation-container .titles .title-slider .t1 {
    margin-left: -25%;
  }

  #r3:checked ~ .navigation-container .titles .title-slider .t1 {
    margin-left: -50%;
  }

  #r4:checked ~ .navigation-container .titles .title-slider .t1 {
    margin-left: -75%;
  }

  #r5:checked ~ .navigation-container .titles .title-slider .t1 {
    margin-left: -100%;
  }

  #r1:checked ~ .navigation-container .navigation .k1 .c1 {
    background-color: chartreuse;
  }

  #r2:checked ~ .navigation-container .navigation .k1 .c2 {
    background-color: chartreuse;
  }

  #r3:checked ~ .navigation-container .navigation .k1 .c3 {
    background-color: chartreuse;
  }
  #r4:checked ~ .navigation-container .navigation .k1 .c4 {
    background-color: chartreuse;
  }
  #r5:checked ~ .navigation-container .navigation .k1 .c5 {
    background-color: chartreuse;
  }

  @media (max-width: 420px) {

    :root {
      --size: 420px;
    }
    .navigation-container {
      flex-direction: column-reverse;
      row-gap: 2rem;
    }

    .container {
      width: 100%;
      padding: 0 2rem;
      row-gap: 2.5rem;
    }

    .slider {
      width: 100%;
    }

    .slides {
      height: 20rem;
    }

    .title-slider {
      height: 4rem;
    }

    .navigation-container {
      width: 100%;
    }

    .navigation {
      justify-content: center;
    }

    .k1 {
      width: 10%;
    }


  }